html{height: 100%;}

.warring {
    margin-top: 60px;
}

.login {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 0;
    width: 360px;
}
#register.login {
    margin: 20px auto 0;
    height: 450px;
}
.login h1{
    background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    font: 600 30px/1 'Open Sans', sans-serif;
    padding-top: 5px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0), 0 1px 0 #fff;


}

input[type="password"],
input[type="text"] {
    border: 1px solid #a1a3a3;
    border-radius: 3px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 45px;
    width: 300px;
    margin: 15px 0 0 0;
    padding-left: 20px;
    transition: box-shadow 0.3s;
}
#register {
    margin-top: 10px;
}

input[type="password"]:focus,
input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(3, 168, 152, 0.3);
    outline: 0;
}
#tdShow {
    margin-top: 15px;
    display: flex;
   
}

#showpass {
    align-self: center;
}



#submit {
    display: block;
    margin: 15px 0 0 -124px;
    width: 120px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(top, #3db0a6, #3111);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #497a78, 0px 5px 5px #999;
    border-radius: 3px;
}
#send {
    display: block;
    margin: 20px 0 10px 0;
    width: 300px;
    height: 35px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #37a69b;
    cursor: pointer;
    border: none;
    background-color: #37a69b;
    background-image: linear-gradient(top, #3bd0a6, #3111);
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #497a78, 0px 5px 5px #999;
    border-radius: 3px;

}


.shadow {
    background: #000;
    border-radius: 12px 12px 4px 4px;
    box-shadow: 0 0 20px 10px #000;
    height: 12px;
    margin: 30px auto;
    opacity: 0.2;
    width: 330px;
}
.link {
    color: #7f7f7f;
    display: inline-block;
    font: 16px/1 sans-serif;
    margin-top: 16px;
    transition: color .4s;
}

.link:hover { color: #2e2d2d}


body{
    font-family: Arial;
    font-size: 10pt;
}
table{
    font-size: 10pt;
    margin: 0 auto;
}
#border{
    border: 2px solid #999;
    background: #CCC;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}


